.navbar {
    -fx-background-color: #333;
}

.navBarButton {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.navBarButton:hover {
    -fx-background-color: rgba(140, 140, 140, 0.2);
}

.actionsColumn {
    -fx-pref-width: 45px;
}